/* General styles */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header styles */
header {
  background-color: #164269;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header h1 {
  color: #FFF;
  padding: 10px 2%;
  margin: 0;

  float: left;
  padding-left: 0;
}

/* Main Section */
#main {
  margin-top: 200px;
  display: block;
  top: 100
}

/* Individual Song Styling */
.song {
  padding: 0 2%;
  border-bottom: 1px solid #ccc;
  transition: 0.2s all;
}

.song .songContent {
  width: 70%;
  float: left;
}

.song .songContent a {
  text-decoration: none;
}

.song .songContent h3 {
  margin-bottom: 0;
  color: #FE052C;
}

.song .songContent h6 {
  margin-top: 0;
  color: #666;
}

.vote-count {
  position: relative;
  top: -.15em;
}

.fa {
  cursor: pointer;
  padding-left: 10px;
}
